<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siiri.record">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:supportsRtl="true">

        <activity
            android:name=".video.VideoRecordActivity"
            android:configChanges="screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:theme="@style/ScreenTheme" />

        <activity
            android:name=".video.VideoPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ScreenTheme" />

        <activity
            android:name=".audio.AudioRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

    </application>

</manifest>