<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siiri.push">

    <application>
        <service
            android:name="com.siiri.push.JPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

    </application>
</manifest>